# API Reference

## Releases

Version | Documentation | mock-sdk-server Container Tag | Clients
------- | ------------- | ----------------------------- | -------
v@@release-9.7-version@@ | [gRPC][grpc0101x] / [REST][rest0101x] / [Changelog][changelog0101x]| `openstorage/mock-sdk-server:@@release-9.7-version@@` | [Source][client0101x]
Nightly(@@master-version@@) | [gRPC][grpc] / [REST][rest] / [Changelog][changelog] | `openstorage/mock-sdk-server` | [Source][client]


[grpc0101x]: release-9.7.generated-api.md
[rest0101x]: https://libopenstorage.github.io/w/swagger-ui/release-9.7.index.html
[client0101x]: https://github.com/libopenstorage/openstorage-sdk-clients/releases/tag/v@@release-9.7-version@@
[changelog0101x]: release-9.7.changelog.md

[grpc]: master.generated-api.md
[rest]: https://libopenstorage.github.io/w/swagger-ui/index.html
[client]: https://github.com/libopenstorage/openstorage-sdk-clients
[changelog]: master.changelog.md
