# API Reference

## Releases

| Version | Documentation | mock-sdk-server Container Tag | Clients |
| ------- | ------------- | ------- |
| v@@release-sdk-0.9-version@@ | [gRPC][grpc092] / [REST][rest092] | `openstorage/mock-sdk-server:@@release-sdk-0.9-version@@` | [Source][client092]
| v@@release-4.0-version@@ | [gRPC][grpc022x] / [REST][rest022x] | `openstorage/mock-sdk-server:@@release-4.0-version@@` | [Source][client022x]
| v@@release-6.4-version@@ | [gRPC][grpc042x] / [REST][rest042x] / [Python][python042x] | `openstorage/mock-sdk-server:@@release-6.4-version@@` | [Source][client042x]
| v@@release-7.0-version@@ | [gRPC][grpc069x] / [REST][rest069x] | `openstorage/mock-sdk-server:@@release-7.0-version@@` | [Source][client069x]
| Nightly(@@master-version@@) | [gRPC][grpc] / [REST][rest] | `openstorage/mock-sdk-server` | [Source][client]


[grpc092]: release-sdk-0.9.generated-api.md
[rest092]: https://libopenstorage.github.io/w/swagger-ui/release-sdk-0.9.index.html
[client092]: https://github.com/libopenstorage/openstorage-sdk-clients/releases/tag/v@@release-sdk-0.9-version@@

[grpc022x]: release-4.0.generated-api.md
[rest022x]: https://libopenstorage.github.io/w/swagger-ui/release-4.0.index.html
[client022x]: https://github.com/libopenstorage/openstorage-sdk-clients/releases/tag/v@@release-4.0-version@@

[grpc042x]: release-6.4.generated-api.md
[rest042x]: https://libopenstorage.github.io/w/swagger-ui/release-6.4.index.html
[client042x]: https://github.com/libopenstorage/openstorage-sdk-clients/releases/tag/v@@release-6.4-version@@
[python042x]: https://libopenstorage.github.io/w/api/python/release-6.4/openstorage/index.html

[grpc069x]: release-7.0.generated-api.md
[rest069x]: https://libopenstorage.github.io/w/swagger-ui/release-7.0.index.html
[client069x]: https://github.com/libopenstorage/openstorage-sdk-clients/releases/tag/v@@release-7.0-version@@

[grpc]: master.generated-api.md
[rest]: https://libopenstorage.github.io/w/swagger-ui/index.html
[client]: https://github.com/libopenstorage/openstorage-sdk-clients
